/* Org-HTML-Slideshow projection styles.
 *
 * These styles will apply only to the slide-show view.
 */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('fonts/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('fonts/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url('fonts/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff') format('woff');
}

body {
   margin: 0pt;
   font-size: 24pt;
   /*background-color: #3F3F3F;*/
   color: #000;
   font-family: 'Source Sans Pro', sans-serif;
}

/* Use all headings as slide titles, regardless of level. */
h1,h2,h3,h4,h5,h6,h7,h8 {
   font-size: 48pt;
   margin: 18pt;
   text-align: center;
   font-weight: 600;
   font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #870b1b; /*#D0BF8F;*/
}

li {
   margin: 12pt;
}

/* Center embedded images. */
p.image {
   text-align: center;
}

/* Hide Org-Mode tags in slide-show view. */
span.tag {
   display: none;
}

/* Hide Org-Mode section numbers in slide-show view. */
span.section-number-1,span.section-number-2,span.section-number-3,span.section-number-4,span.section-number-5,span.section-number-6,span.section-number-7,span.section-number-8 {
   display: none;
}

#current-slide {
  margin: 18pt;
}

table {
  margin: 0 auto;
}

.slide .outline-text {
  width: 960px;
  margin: 0 auto;
}

.slide.wide .outline-text {
  width: 98%;
}

pre {
    padding: 0.5em;
    line-height: 1.4em;
    white-space: pre-wrap;
    border: 1px black solid;
    font-family: Inconsolata;
}

code {
    font-family: Inconsolata;
    font-weight: bold;
    color: #382f18; /* e9e1cb */
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url('fonts/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff') format("woff");
}

.slide.bigcode pre {
  font-size: 200%;
}

.slide.littlecode pre {
  font-size: 75%;
}

.slide.xbigcode pre {
  font-size: 300%;
}

.center {
  text-align: center;
}

.slide.oneliner pre {
  text-align: center;
}

.slide.titleslide .outline-text p {
  font-size: 150%;
  text-align: center;
}

.slide div.motto {
  text-align: center;
}

.type, .classname, .kw, .method {
    font-weight: bold;
}

.invoke {
    color: teal;
}

.type, .classname {
    color: #445588;
}

.method {
    color: #990000;
}

.number {
    color: #009999;
}